.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #282c34;
  }
  
  .element {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-transform: capitalize;
    transition: top 1s, left 1s;
  }
  
  .element.rock {
    background-color: #606060;
  }
  
  .element.paper {
    background-color: #ffffff;
    color: #000;
  }
  
  .element.scissors {
    background-color: #ff0000;
  }